$primary: #7a5c4c;

$font-light: #fff;
$font-grey: #778;
$font-dark: #000;


$border-light: #fff;
$border-grey-light: #a7a7a7;
$border-grey: #444444;

$background-light: #fff;
$background-grey-light: #eee;
$background-grey: #a7a7a7;
$background-grey-dark: rgb(189, 135, 42);
$background-dark: #aa780c;
$background-dark-absolute: #000;

$success: #69af00;


